http://{{ ansible_host }}:{{ http_port | default(80) }} {

  log {
    output file /logs/access-caddy.log {
                       roll_size 1gb
                       roll_keep 5
                       roll_keep_for 720h
               }
               level INFO
 
  }
  @cfgapp {
    path /*
  }
  reverse_proxy @cfgapp 127.0.0.1:8003

}


 https://{{ ansible_host }}:{{ https_port | default(443) }} {

  log {
    output file /logs/access-caddy.log {
                       roll_size 1gb
                       roll_keep 5
                       roll_keep_for 720h
               }
               level INFO
 
  }
  tls {
    protocols tls1.2 tls1.3
    ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
    curves x25519
  }
  @cfgapp {
    path /*
  }
  reverse_proxy @cfgapp 127.0.0.1:8003

  @node path /node/metrics*
  handle @node {
    rewrite * /metrics
    reverse_proxy 127.0.0.1:9100
  }
  basicauth @node {
    metrics {{ metrics_pwd | password_hash('bcrypt') }}
  }

  @hy2 path /hy2/metrics*
  handle @hy2 {
    rewrite * /metrics
    reverse_proxy 127.0.0.1:7979
  }
  basicauth @hy2 {
    metrics {{ metrics_pwd | password_hash('bcrypt') }}
  }
}



