
services:
  sing-box:
    image: itdoginfo/sing-box:v1.11.4
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./sing-box.json:/etc/sing-box/config.json
      - ./cert:/etc/xray/certs
  hysteria:
    image: tobyxdd/hysteria
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./cert:/cert
      - ./hysteria.yaml:/etc/hysteria.yaml
    command: ["server", "-c", "/etc/hysteria.yaml"]
  proxy:
    image: dimonb/caddy:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./caddy.json:/etc/caddy/caddy.json
      - ./caddy:/data/
      - ./logs:/logs/
    command: ["caddy","run","--config","/etc/caddy/caddy.json"]

  # Catawiki json_exporter
  json-exporter:
    image: dimonb/json_exporter:latest
    network_mode: host
    volumes:
      - ./json-exporter.yml:/config.yml:ro
    command: >
      -p 7979
      -l 127.0.0.1
      /config.yml
    restart: unless-stopped
  cfgapp:
    build:
      context: ./cfgapp
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "127.0.0.1:8003:8000"
    environment:
      - CONFIG_HOST={{ config_host }}
      - PROXY_CONFIG=/config.json
      - OBFS_PASSWORD={{ obfs_password }}
      - HYSTERIA2_PORT={{ hysteria2_port }}
      - HYSTERIA2_V2_PORT={{ hysteria2_v2_port }}
      - VLESS_PORT={{ vless_port }}
      - REALITY_PRIVATE_KEY={{ reality_private_key }}
      - REALITY_PUBLIC_KEY={{ reality_public_key }}
      - REALITY_SHORT_ID={{ reality_short_id }}
      - SALT={{ salt }}
      - IPV4_BLOCK_PREFIX=18
      - IPV6_BLOCK_PREFIX=32
      - HOST=0.0.0.0
      - PORT=8000
      - LOG_LEVEL=INFO
    volumes:
      - ./cfgapp:/app
      - ./config.json:/config.json
    depends_on:
      - proxy

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
      - '--collector.processes'
      - '--collector.systemd'
      - '--collector.tcpstat'
      - '--web.listen-address=127.0.0.1:9100'
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
      - /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket:ro
    network_mode: host
    privileged: true
    pid: host
    user: root


