{
  "users": [
    "dimonb",
    "diakon", 
    "ivan",
    "petrov"
  ],
  "subs": {
    "default": {
      "DE_1_CONTABO": {"protocol": "hy2", "host": "xxxx"},
      "DE_2_VLESS": {"protocol": "vless", "host": "xxxx"}
    },
    "reality": {
      "SE_1_REALITY": {"protocol": "vless", "host": "13.60.43.17"}
    }
  }
}