# VPN Configuration Secrets
# Copy this file to .env and update the values
SALT="XXXX"
OBFS_PASSWORD="AAAA"

# Port Configuration
HTTP_PORT="80"
HTTPS_PORT="443"
HYSTERIA2_PORT="47012"
HYSTERIA2_V2_PORT="47013"
VLESS_PORT="8443"
REALITY_PRIVATE_KEY="your-reality-private-key-here"
REALITY_PUBLIC_KEY="your-reality-public-key-here"
REALITY_SHORT_ID="c047f3e99c90ff71"

# server with config templates
CONFIG_HOST=shadowrocket.ebac.dev
